<div class="book-summary">
    <script type="text/javascript">
        // Fixes the page links scroll problem on both desktop and mobile browsers
        function pageScrollToTop(element) {
            // both mobile and non-mobile
            $('div.body-inner').animate({scrollTop: 0});
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // propagate
        }
        // Fixes the anchor links scroll problem on mobile browsers
        function mobilePageScrollToAnchor(element) {
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            $(element).parent().addClass('active');
            if ($(document).width() <= 1240) {
                $('div.body-inner').animate({scrollTop: $($(element).attr('href')).get(0).offsetTop});
            }
            return true;
        }
		
		function expand(element) {
			const li = $(element).closest("li");
			li.toggleClass("expanded");
			li.find("ul").toggle();			
		}
    </script>

    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)" style="font-size: 2.5rem">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

			{% for menu in site.data.sidebar.menu %}								
				{% include sidebar-menu.html data=menu %}
			{% endfor %}

			<li class="divider"></li>
        </ul>
		
		<script type="text/javascript">
			if(window.jQuery) {  
				expand($("li.active").parent("ul"));
			}
			else {		
				if (typeof oldOnload == "undefined") {
					oldOnload = window.onload;
				}
				
				window.onload = () => {
					if(oldOnload instanceof Function) {
						oldOnload();
					}
					expand($("li.active").parent("ul"));
				};
			}
		</script>
    </nav>
</div>
